@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s linear;
}

*::selection {
    background: var(--green);
    color: white;
}

:root {
    --green: rgba(8, 96, 8, 0.905);
}

.heading {
    font-size: 3rem;
    color: var(--green);
    padding-left: 1rem;
    border-left: .4rem solid var(--green);
    margin-top: 1rem;
    margin-bottom: 3rem;
}

section {
    padding: 1.5rem 9%;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.btn {
    display: flex;
    margin-top: 1rem;
    padding: .9rem 12rem;
    background: var(--green);
    color: #fff;
    font-size: 1.7rem;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
}
.btn2{
    align-items: center;
    display: flex;
    margin-top: 3rem;
    padding: .9rem 12rem;
    background:greenyellow;
    color: #fff;
    font-size: 1.7rem;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    background: #333;
}

.header-1,
.header-2,
.header-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--green);
}

.header-1 {
    border-bottom: .1rem solid rgba(187, 184, 184, 0.379);
}

.header-1 span {
    font-weight: lighter;
    color: #7777FF;
    font-size: 1.7rem;
}

.header-1 a {
    padding: 0 .7rem;
    color: #fff;
    font-size: 2rem;
}

.header-1 a:hover {
    color: black;
}

.header-2 .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    color: #fff;
}

.header-2 .logo i {
    color: yellow;
    font-size: 5rem;
    font-weight: bolder;
}

.header-2 .logo span {
    color: yellow;
}

.header-2 .serach-bar-container {
    display: flex;
    align-items: center;
    width: 50rem;
    padding: 1.5rem;
    background: rgba(255, 255, 255, .2);
    border-radius: .5rem;
}

.header-2 .serach-bar-container #search-bar {
    width: 100%;
    background: none;
    text-transform: none;
    color: white;
    font-size: 1.7rem;
}

.header-2 .serach-bar-container #search-bar::placeholder {
    text-transform: capitalize;
    color: white;
}

.header-2 .serach-bar-container label {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: 0 .5rem;
}

.header-2 .serach-bar-container label:hover {
    color: yellow;
}

.header-3 {
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1000;
}

.header-3 .nav-bar a {
    color: #666;
    font-size: 2rem;
    margin-right: 2rem;
    padding: 2rem 0;
}

.header-3 .nav-bar a:hover {
    border-bottom: .2rem solid var(--green);
    transition: border-bottom 3;
    color: var(--green);
    font-weight: 300;
}

.header-3 .icons a {
    color: #666;
    font-size: 2rem;
    margin-left: 2rem;
}

.header-3 .icons a:hover {
    color: var(--green);
}

.header-3.active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#menu-bar {
    font-size: 3rem;
    color: #666;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

#menu-bar:hover {
    color: var(--green);
}




/*cart*/

.header-3 .cart-items-container {
    position: absolute;
    top: 100%;
    right: 0;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: rgba(126, 125, 125, 0.553);
    padding: 0 1.5rem;
    display: none;
}

.header-3 .cart-items-container.active {
    display: block;
}

.header-3 .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header-3 .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

.header-3 .cart-items-container .cart-item .fa-times:hover {
    color: var(--green);
}

.header-3 .cart-items-container .cart-item img {
    height: 7rem;
}

.header-3 .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;
}

.header-3 .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--green);
}

.header-3 .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.Home {
    padding-top: 0;
}

.Home .home-slider {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border: .05rem solid gray;
    border-top: 0;
}

.Home .home-slider .box {
    background-size: cover !important;
    background-position: center !important;
    min-height: 55rem;
    position: relative;
}

.Home .home-slider .box .content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    max-width: 50rem;
}

.Home .home-slider .box .content span {
    font-size: 3rem;
    color: #444;
}

.Home .home-slider .box .content h3 {
    font-size: 6rem;
    color: #333;
    padding: .5rem;
}





/*icons*/

.icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.icons-container .icon {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icon:hover {
    border: 1px solid var(--green);
}

.icons-container .icon .content {
    padding-left: 2rem;
}

.icons-container .icon .content h3 {
    font-size: 2rem;
    color: var(--green);
}

.icons-container .icon .content p {
    font-size: 1.5rem;
    color: #666;
}


/*contact*/

.contact .row {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.contact .row .map {
    width: 100%;
    flex: 1 1 30rem;
}

.contact .row form {
    padding: 2rem;
    flex: 1 1 30rem;
}

.contact .row form .inputBox {
    position: relative;
}

.contact .row form .inputBox input,
.contact .row form .inputBox textarea {
    width: 100%;
    border-bottom: .1rem solid rgba(0, 0, 0, .3);
    padding: 1rem 0;
    margin: 1.5rem 0;
    font-size: 1.7rem;
    text-transform: none;
    color: #333;
}

.contact .row form .inputBox textarea {
    resize: none;
    height: 15rem;
}

.contact .row form .inputBox input:focus,
.contact .row form .inputBox textarea:focus {
    border-color: var(--green);
}

.contact .row form .inputBox label {
    position: absolute;
    top: 2.3rem;
    left: 0;
    font-size: 1.7rem;
}

.contact .row form .inputBox input:focus~label,
.contact .row form .inputBox textarea:focus~label,
.contact .row form .inputBox input:valid~label,
.contact .row form .inputBox textarea:valid~label {
    top: -.1rem;
    font-size: 1.5rem;
    color: #666;
}


/*FOOTER*/

.footer {
    background: var(--green);
    margin-top: 8px;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: rgba(6, 6, 6, 0.503);
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box p {
    color: rgba(255, 255, 255, 0.495);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: rgba(255, 255, 255, 0.495);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
    color: yellow;
}

.footer .credit {
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 2rem;
    border-top: .1rem solid rgba(194, 191, 191, 0.1);
    text-align: center;
    font-weight: normal;
    background-color: black;
    width: auto;
}

.footer .credit span {
    color: white;
}

.scroll-top {
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 1000;
    font-size: 3.5rem;
    background: rgba(0, 255, 0, .1);
    color: var(--green);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: .5rem 1.5rem;
    display: none;
}

.scroll-top:hover {
    background: var(--green);
    color: #fff;
}

/*Payment Page*/
*::selection {
    background: var(--green);
    color: white;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
.header-2 .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    color: #fff;
}

.header-2 .logo i {
    color: yellow;
    font-size: 5rem;
    font-weight: bolder;
}

.header-2 .logo span {
    color: yellow;
}
.header-2 {
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 9%;
        background: var(--green);
}

.header-2{
    background-color: green;
}

.Font{
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 80px;
}
.Font1{
    margin-left: 60px;
}
.Font2{
    margin-left: 400px;
}
.Box{
    display:flex;
    justify-content: space-around;
}
.box1{
    width: 440px;
    height: 400px;
    font-size: 19px;
    border: 1.5px  solid black;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    font-family:'Times New Roman';
    background-color: aqua;
}


.address1{
    border-radius: 0.5rem;
    border: 1.5px solid black;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    justify-content: center;
    font-family: sans-serif;
}
.address2{
    border-radius: 0.5rem;
    border: 1.5px solid black;
    margin-top: 3rem;
    padding: 0.5rem;
    justify-content: center;
    font-family: sans-serif;
}


.box2{
    width: 400px;
    height: 550px;
    font-size: 19px;
    border: 1.5px  solid black;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aqua;
}
.coupon{
    border: 1px solid black;
    background-color: white;
    padding: 0.5rem;
    height: 30px;
}
.sym{
    margin-left: 140px;
}
.im{
    
    align-items: center;
    display: flex;
    padding: 1rem;
}
.id1{
    margin-left: 200px;
}
.options{
    border: 1px solid black;
    background-color: white;
}
.div{
    display: flex;
    justify-content:space-evenly;
    padding: 1rem;
}
.card{
    margin-top: 15px;
    padding: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.wallet{
    margin-top: 15px;
    padding: 0.8rem;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.Rs{
    margin-left: 120px;
}
.bank{
    margin-top: 15px;
    display: flex;
    padding: 0.8rem;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 0.5rem;
}
/*media queries*/

@media(max-width:1200px) {
    html {
        font-size: 48%;
    }
}

@media(max-width:991px) {
    .header-1,
    .header-2,
    .header-3 {
        padding: 2rem;
    }
    section {
        padding: 1.5rem;
    }
}

@media(max-width:768px) {
    #menu-bar {
        display: initial;
    }
    .header-3 .nav-bar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(179, 178, 178, 0.475);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header-3 .nav-bar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header-3 .nav-bar a {
        color: #fff;
        display: block;
        margin: 1.5rem 0;
        padding: 1.5rem;
        border-radius: .5rem;
        background: rgba(74, 73, 73, 0.51);
        text-align: center;
    }
    .header-3 .nav-bar a:hover {
        background: rgba(0, 128, 0, 0.501);
        color: white;
    }
    .header-2 {
        flex-flow: column;
    }
    .header-2 .serach-bar-container {
        width: 100%;
        margin-top: 2rem;
    }
    .Home .home-slider .box {
        background-position: right !important;
        z-index: 0;
        padding-right: 5rem;
    }
    .Home .home-slider .box::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: ' ';
        z-index: -1;
        background: rgba(255, 255, 255, 0.415);
    }
    .Home .home-slider .box .content h3 {
        font-size: 4.5rem;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
    .header-1 {
        display: none;
    }
    .deal .row .content .count-down .box {
        width: 7rem;
    }
    .deal .row .content .count-down .box h3 {
        font-size: 3rem;
        padding: .5rem 0;
    }
    .deal .row .content .count-down .box span {
        font-size: 1.5rem;
    }
}